In [32]:
#This script is to find the range from the last and the first value for each day through the equation 

import pandas as pd
import numpy as np


start_date = '2023-01-01 00:00:00'
end_date = '2023-01-05 00:00:00'

dates = pd.date_range(start=start_date, end=end_date, freq='15min')
values = np.random.randn(len(dates))

df = pd.DataFrame({'date': dates, 'Values': values})
df.set_index('date', inplace = True)

df = df.resample('D')['Values'].agg(['first','last']).reset_index()

equation = "df['last'] - df['first']"
df['value'] = eval(equation)

df

        date     first      last     value
0 2023-01-01  0.496004  0.024619 -0.471385
1 2023-01-02 -0.069979 -0.770954 -0.700975
2 2023-01-03  0.118180  0.726163  0.607983
3 2023-01-04 -0.619239 -1.139674 -0.520435
4 2023-01-05  1.216427  1.216427  0.000000

In [29]:
#Through max and min 

start_date = '2023-01-01 00:00:00'
end_date = '2023-01-10 00:00:00'

dates = pd.date_range(start=start_date, end=end_date, freq='15min')
values = np.random.randn(len(dates))

df1 = pd.DataFrame({'date': dates, 'Values': values})
df1= df1.groupby(pd.Grouper(key='date', freq='D')).agg({'Values': ['min','max']}).reset_index()
#print(df1.columns)

df1.columns = ['_'.join(col).strip() for col in df1.columns.values]
#print(df1.columns)

equation = "df1['Values_max'] - df1['Values_min']"
df1['Value'] = eval(equation)

df1

       date_  Values_min  Values_max     Value
0 2023-01-01   -2.826492    2.242950  5.069441
1 2023-01-02   -2.813684    1.804020  4.617704
2 2023-01-03   -2.302375    2.242670  4.545046
3 2023-01-04   -2.725913    2.320872  5.046785
4 2023-01-05   -2.163872    2.580094  4.743967
5 2023-01-06   -2.758228    2.131545  4.889773
6 2023-01-07   -2.255258    3.012407  5.267665
7 2023-01-08   -2.261067    2.155962  4.417029
8 2023-01-09   -1.899859    2.341514  4.241373
9 2023-01-10    0.513370    0.513370  0.000000